@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body class="bg-zinc-950 text-white flex flex-col items-center">
<div class="mx-auto max-w-2xl py-16 sm:py-48 lg:py-24">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-16 w-auto" src="~/assets/base-light.png" alt="Nebula Studios">
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-100"><span
          class="text-orange-600 font-bold underline underline-offset-2">Crea</span> un nuovo account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" asp-action="AggiungiUtente" onsubmit="return valida()" method="POST">
        <div>
          <label for="email" class="block text-sm/6 font-medium text-gray-100">Email</label>
          <div class="mt-2">
            <input type="text" name="email" id="email" autocomplete="off"
                   class="block w-full rounded-md bg-background-400/20 px-3 py-1.5 text-base text-gray-100 outline outline-1 -outline-offset-1 outline-gray-300/20 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-orange-600 sm:text-sm/6">
            <p id="emailError" class="hidden text-sm/6 text-danger-500">Invalid email</p>
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="pwd" class="block text-sm/6 font-medium text-gray-100">Password</label>
          </div>
          <div class="mt-2 flex flex-col">
            <div class="flex">
              <input type="password" name="pwd" id="pwd" autocomplete="off"
                     class="block w-full rounded-md bg-background-400/20 px-3 py-1.5 text-base text-gray-100 outline outline-1 -outline-offset-1 outline-gray-300/20 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-orange-600 sm:text-sm/6">
              <div class="flex items-center text-sm leading-5">
                <button type="button" onclick="togglePassword('pwd')"
                        class="text-gray-500 focus:outline-none transition-all duration-300 focus:text-gray-600 hover:text-orange-600 flex justify-center items-center w-10">
                  <i id="togglePasswordIcon" class="ti ti-eye text-xl text-center"></i>
                </button>
              </div>
            </div>
            <p id="pwdError" class="hidden text-sm/6 text-danger-500">Password must be at least 8 characters long</p>
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="pwd" class="block text-sm/6 font-medium text-gray-100">Conferma Password</label>
          </div>
          <div class="mt-2 flex flex-col">
            <div class="flex">
              <input type="password" name="password2" id="confirmPwd" autocomplete="off"
                     class="block w-full rounded-md bg-background-400/20 px-3 py-1.5 text-base text-gray-100 outline outline-1 -outline-offset-1 outline-gray-300/20 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-orange-600 sm:text-sm/6">
              <div class="flex items-center text-sm leading-5">
                <button type="button" onclick="togglePassword('confirmPwd')"
                        class="text-gray-500 focus:outline-none transition-all duration-300 focus:text-gray-600 hover:text-orange-600 flex justify-center items-center w-10">
                  <i id="toggleConfPasswordIcon" class="ti ti-eye text-xl text-center"></i>
                </button>
              </div>
            </div>
            <p id="confirmPwdError" class="hidden text-sm/6 text-danger-500">Passwords does not match</p>
          </div>
        </div>

        <div>
          <button type="submit"
                  class="flex w-full justify-center rounded-md bg-orange-600/50 border-2 border-orange-600 transition-all duration-300 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">
            Registrati
          </button>
        </div>
      </form>

      <p class="mt-10 text-center text-sm/6 text-gray-500">
        Hai già un account? <a asp-action="Login" class="font-semibold text-orange-600 hover:text-orange-500">Esegui il Login
          </a>
      </p>
    </div>
  </div>
</div>
</body>
</html>
