@model SAC_eCommerce.Models.Classes.Utente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <aside class="w-64 bg-zinc-950/80 backdrop-blur-xl border-2 rounded border-gray-700 p-6"><h2
            class="text-2xl font-bold mb-8">
            Dashboard</h2>
        <nav>
            <ul>
                <li class="mb-4"><a href="#" class="flex items-center p-2 rounded hover:bg-primary-600">
                        <!-- Icona opzionale --> <span class="ml-2">Home</span> </a></li>
                <li class="mb-4"><a href="#" class="flex items-center p-2 rounded hover:bg-primary-600"> <span
                            class="ml-2">Ordini</span>
                    </a></li>
                <li class="mb-4"><a href="#" class="flex items-center p-2 rounded hover:bg-primary-600"> <span
                            class="ml-2">Inventari</span>
                    </a></li>
                <li class="mb-4"><a href="#" class="flex items-center p-2 rounded hover:bg-primary-600"> <span
                            class="ml-2">Report</span>
                    </a></li>
            </ul>
        </nav>
    </aside>
</div>
</body>
</html>
